body {
  padding:0;
  spacing:0;
  margin:0;
}

#toptoc, #advertisements {
  display:none;
}
img {
  border:none;
}

.sect {
  padding: 0px;
  margin: 0px;
  padding-left: 12px;
  padding-bottom:8px;
  margin-bottom:8px;
}
td {
  vertical-align:top;
}

.footer {
  border-top: 1px solid #333;
  background-color: #DDD;
  color: #333;
  font-family: monospace;
}

.title {
  font-size: 32pt;
  font-weight: bold;
  font-family: arial;
}

.h1 {  margin: 0px 12px 16px 0px; padding: 0px 12px; font-size: 200%; border-bottom: 1px solid #6666EE; font-weight:bold; }
.h2 {  margin: 0px 12px; padding: 0px 12px; font-size: 180%; border-bottom: 1px solid #6666EE; margin-bottom:4px; }
.h3 {  margin: 0px 12px; padding: 0px 12px; font-size: 160%; border-bottom: 1px solid #6666EE; margin-bottom:4px; }
.h4 {  margin: 0px 12px; padding: 0px 12px; font-size: 140%; border-bottom: 1px solid #6666EE; margin-bottom:4px; }
.h5 {  margin: 0px 12px; padding: 0px 12px; font-size: 120%; border-bottom: 1px solid #6666EE; margin-bottom:4px; }

/*
Colours:
CCCCEE Website Light
9999EE Light 2 
6666EE Website
161633 Dark

*/

.code {
  font-family: monospace;
  white-space:pre;
}
div.code {
  border: 1px solid #ccc;
  padding: 2px;
  margin: 2px;
  overflow: scroll;
}

.toc1{ color: #00f; display:block;  margin-left:2px; text-decoration:underline; }
.toc2{ color: #22f; display:block;  margin-left:4px;}
.toc3{ color: #44f; display:block;  margin-left:10px; font-size:80%;}
.toc4{ color: #66f; display:block;  margin-left:16px; font-size:80%;}
.toc5{ color: #88f; display:block;  margin-left:20px; font-size:80%;}

.t1{font-size:1pt; background-position: 0 0; background-repeat: no-repeat; width:9px; height: 17px;}
.t2{font-size:1pt; background-position: 0 0; background-repeat: repeat-x; height: 17px;}
.t3{font-size:1pt; background-position: 0 0; background-repeat: no-repeat; width:16px; height: 17px;}
.t4{font-size:1pt; background-position: 0 0; background-repeat: repeat-y; width:9px;}
.t5{ background-color: white;}
.t5pl{ padding-left:8px; background-color: white;}
.t6{font-size:1pt; background-position: 0 0; background-repeat: repeat-y; width:16px;}
.t7{font-size:1pt; background-position: 0 0; background-repeat: no-repeat; width:9px; height:12px;}
.t8{font-size:1pt; background-position: 0 0; background-repeat: repeat-x; height:8px;}
.t9{font-size:1pt; background-position: 0 0; background-repeat: no-repeat; width:16px; height:12px;}
